
<div class="modal " style="color: #fff">
  <div class="modal-dialog modal-sm">
    <div class="modal-content"style="background: #000000; border: 1px solid #fff">
      <div class="modal-header" style="background: #1fbae8; border-bottom: none">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" style="color: #fff; text-align: center">Login</h4>
      </div>
      <div class="modal-body">
       
            <div class="alert alert-danger" ng-if="vm.badLogin">Could not successfully log in, try again</div>
            <div class="alert alert-success " ng-if="vm.successLogin" >Successfully logging in... </div>

            <form ng-submit="vm.loginUser()" >
                <div class="form-group">
                    <label>User Name</label>
                    <input 
                        type="text" 
                        name="email" 
                        class="form-control" 
                        ng-model="vm.userCredentials.username" 
                        placeholder="Enter username" 
                        ng-disabled="vm.badLogin || vm.successLogin">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input 
                        type="password" 
                        name="password" 
                        class="form-control" 
                        ng-model="vm.userCredentials.password" 
                        placeholder="Enter password" 
                        ng-disabled="vm.badLogin || vm.successLogin" >

                    <button type="button" id="loginFBBtn" style="display:none;"></button>
                    <input type="hidden" class="form-control" id="fbID" value=""  placeholder="">
                    <input type="hidden" class="form-control" id="fbSecret" value="" placeholder="">
                </div>
                  <button 
                        class="btn btn-default" 
                        style="background: #fff; border: none; color: #1fbae8; width: 45%; margin-left: 4.5%;" 
                        data-dismiss="modal" 
                        sign-up>
                        Register
                  </button>

               
                  <button 
                        type="submit" 
                        class="btn btn-default" 
                        style="background: #1fbae8; border: none; color: #fff;  width: 45%" 
                        ng-disabled="vm.badLogin || vm.successLogin">
                        Get in
                  </button>
            </form><!-- end of user login form -->
   
              </div>

            <h4 style="text-align: center">OR</h4>
            
            <ul id="login_social_icons_list">
              <li>    <i class="fa fa-twitter fa-3x" style="color: #1fbae8"></i></li>
              <li>       <i class="fa fa-facebook fa-3x"  style="color: #1fbae8"></i></li>
            </ul>
      </div><!-- end of modal body -->
  </div><!-- end of modal content -->
</div>