
<style>
    @media only screen and (max-width: 767px){
        .search_header .container{margin-top: 70px;}
    }
    .main{margin-bottom: 400px;}
</style>
<div class="template_header">

</div>


<div class="parallax">
    <div id="group2" class="parallax__group">
        <div id="wrapper" class="parallax__layer parallax__layer--back" style="min-height:500px">
        </div>
        <div class="search_header ">
            <div class="container" style="text-align: center;">
                <div class="block">
                    <div class="alert alert-danger fade in m-b-15"></div>
                    <div class="alert alert-success fade in m-b-15"></div>
                    <select class="form-control input-lg category">
                        <option value="">Choose Category</option>
                    </select>
                    <select class="form-control input-lg sub_category">
                        <option>Choose One</option>
                    </select>
                    <input type="text" class="location geocomplete"  placeholder="Where do you want to go ?">
                    <button class="search_scrn"><img src="images/search.png"></button>
                </div>
            </div>
        </div>
        <div class="main parallax__layer parallax__layer--base">            
            <div class="container" style="margin-top: 62px;">
                <div class="top_categories">
                    <h2 class="row-space-1 strong">Explore the World</h2>
                    <p >See where people are traveling, all around the world.</p>
                    <div id="freewall" class="free-wall">
                        <div class="brick">
                            <img src="images/8.jpg"><div class="content">
                                <div class="name"><h2>Seattle</h2></div>
                            </div>
                        </div>
                        <div class="brick">
                            <img src="images/DC.png">
                            <div class="content">
                                <div class="name">
                                    <h2>Washington, D.C.</h2>
                                </div>
                            </div>
                        </div> 

                        <div class="brick"><img src="images/NY.png"><div class="content">
                                <div class="name"><h2>New York</h2></div>
                            </div>
                        </div>

                        <div class="brick"><img src="images/5.JPG"><div class="content">
                                <div class="name"><h2>Denver</h2></div>
                            </div>
                        </div>
                        <div class="brick">
                            <img src="images/7.JPG"><div class="content">
                                <div class="name"><h2>Los Angeles</h2></div>
                            </div>
                        </div>                         
                        <div class="brick">
                            <img src="images/MIA.png"><div class="content">
                                <div class="name"><h2>Miami</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="template_footer">

        </div>
    </div>
</div>










