<!--<!DOCTYPE html>
--><html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title></title>
<link href="css/style.css" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">

</head>

<body>
<header class="inner_header ">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      
     
     <div class="row">
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
        <ul class="nav navbar-nav">
          <li><i class="fa fa-bars"></i>
                  <div class="sub_menu">
                          <ul>
                              <li><a href="#">Settings</a></li>
                              <li><a href="#">Contacts</a></li>
                              <li><a href="#">Messages</a></li>
                          
                          </ul>
                  </div>
          </li>
         
        </ul></div>
        <div class="logo col-lg-4 col-md-4 col-sm-4 col-xs-8"><a href="#" class="navbar-brand"><img alt="" title="logo" src="images/logo.png"></a></div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2"><ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="user"><img src="images/original.jpg"></a>
          <div class="sub_menu">
                          <ul>
                              <li><a href="#">Message</a></li>
                              <li><a href="#">Accounts</a></li>
                              <li><a href="#">Logout</a></li>
                          
                          </ul>
                  </div></li>
          
        </ul></div>
      </div>
      
<!--      /.nav-collapse  -->
    </div>
<!--    /.container-fluid  -->
  </div> 
</header>

<!--<style type="text/css">
    body,td,th {
        font-family: Roboto, sans-serif;
    }
</style>

<div class="template_header">

</div>-->
    
    
    
<div class="main message_block ">
  
  <div class="container">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 online_friends" ><a href="#" id="online">Message List</a></div>
    
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 side_bar_message">
      <div class=" close_friends" ><a href="#" id="online">close</a></div>
    
    <div class="tse-scrollable demo1">
      <div class="tse-content">
        
    
      <ul>
      <li>
      <div class="picture"><a href="#"><img src="images/peron.jpg"></a></div>
      <a href="#">
      <b>Santa Cruz Cannabis Club</b>
      <p>Hey, I called in about getting my prescripti...</p>
      </a></li>
      <li>
      <div class="picture"><a href="#"><img src="images/peron.jpg"></a></div>
      <a href="#">
      <b>Santa Cruz Cannabis Club</b>
      <p>Hey, I called in about getting my prescripti...</p>
      </a></li>
      <li class="active">
      <div class="picture"><a href="#"><img src="images/peron.jpg"></a></div>
      <a href="#">
      <b>Santa Cruz Cannabis Club</b>
      <p>Hey, I called in about getting my prescripti...</p>
      </a></li>
      <li>
      <div class="picture"><a href="#"><img src="images/peron.jpg"></a></div>
      <a href="#">
      <b>Santa Cruz Cannabis Club</b>
      <p>Hey, I called in about getting my prescripti...</p>
      </a></li>
      <li>
      <div class="picture"><a href="#"><img src="images/peron.jpg"></a></div>
      <a href="#">
      <b>Santa Cruz Cannabis Club</b>
      <p>Hey, I called in about getting my prescripti...</p>
      </a></li>
      <li>
      <div class="picture"><a href="#"><img src="images/peron.jpg"></a></div>
      <a href="#">
      <b>Santa Cruz Cannabis Club</b>
      <p>Hey, I called in about getting my prescripti...</p>
      </a></li>
      </ul>
          </div>
   
  </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 message_box">
       <div class="tse-scrollable demo2">
      <div class="tse-content">
      <ul>
      <li>
      <div class="picture"><a href="#"><img src="images/peron.jpg"></a></div>
      <div class="message">
      <a href="#">
      <span>8/28/2014</span>
      <p>Hey, I called in about getting my prescripti...</p>
      </a>
      </div>
      </li>
      <li>
      <div class="picture"><a href="#"><img src="images/peron.jpg"></a></div>
      <div class="message">
      <a href="#">
      <span>8/28/2014</span>
      <p>Hey, I called in about getting my prescripti...</p>
      </a>
      </div>
      </li>
      <li class="me">
      <div class="picture"><a href="#"><img src="images/peron.jpg"></a></div>
      <div class="message">
      <a href="#">
      <span>8/28/2014</span>
      <p>Hey, I called in about getting my prescripti...</p>
      </a>
      </div>
      </li>
       <li>
      <div class="picture"><a href="#"><img src="images/peron.jpg"></a></div>
      <div class="message">
      <a href="#">
      <span>8/28/2014</span>
      <p>Hey, I called in about getting my prescripti...</p>
      </a>
      </div>
      </li>
      <li>
      <div class="picture"><a href="#"><img src="images/peron.jpg"></a></div>
      <div class="message">
      <a href="#">
      <span>8/28/2014</span>
      <p>Hey, I called in about getting my prescripti...</p>
      </a>
      </div>
      </li>
      <li class="me">
      <div class="picture"><a href="#"><img src="images/peron.jpg"></a></div>
      <div class="message">
      <a href="#">
      <span>8/28/2014</span>
      <p>Hey, I called in about getting my prescripti...</p>
      </a>
      </div>
      </li>
      
      
      </ul>
      </div>
      </div>
      <div class="send_message">
      <textarea placeholder="We think You should Type Something here.... Press Enter"></textarea>
      
      </div>
      </div>
    </div>
  </div>
</div>
<div class="template_footer">

</div>

<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
   <script src="js/jquery.trackpad-scroll-emulator.min.js"></script>
      <script>
$(document).ready(function(){
    $("#online").click(function(){
       $(".side_bar_message").show();
	   $(".close_friends").show();
    });
	
    $(".close_friends").click(function(){
       $(".side_bar_message").hide();
	   $(".close_friends").hide();
    });
});

</script> 
  <script>
  $(document).ready(function() {
    // Initialize scrollers.
    $('.demo1').TrackpadScrollEmulator();
    $('.demo2').TrackpadScrollEmulator();
    // Demonstration of changing the vertical scroller content and dimensions.
    $('.add-more').on('click', function(e){
      e.preventDefault();
      $('.demo1 .tse-content').append('<p class="odd">Additional content 1</p><p>Additional content 2</p><p p class="odd">Additional content 3</p><p>Additional content 4</p>');
      $('.demo1').TrackpadScrollEmulator('recalculate');
    });
    $('.toggle-height').on('click', function(e){
      e.preventDefault();
      if ($('.demo1').height() === 400) {
        $('.demo1').height(300);
      } else {
        $('.demo1').height(400);
      }
      $('.demo1').TrackpadScrollEmulator('recalculate');
    });
    // Demonstration of changing the horizontal scroller content and dimensions.
    $('.add-more-horiz').on('click', function(e){
      e.preventDefault();
      $('.demo2 .tse-content .boxes').append('<div class="box">A</div><div class="box">B</div><div class="box">C</div><div class="box">D</div>');
      $('.demo2').TrackpadScrollEmulator('recalculate');
    });
    $('.toggle-width').on('click', function(e){
      e.preventDefault();
      if ($('.demo2').width() === 600) {
        $('.demo2').width(500);
      } else {
        $('.demo2').width(600);
      }
      $('.demo2').TrackpadScrollEmulator('recalculate');
    });
  });
  </script>
<script src="../bootstrap-3.2.0/docs/dist/js/bootstrap.js"></script> 

background 

<script type="text/javascript" src="js/jquery.tubular.1.0.js"></script> 
<script type="text/javascript" src="js/index.js"></script> 

calender 
<script src="js/foundation-datepicker.js"></script> 
<script>
			$(function () {
				window.prettyPrint && prettyPrint();
				$('#dp1').fdatepicker({
					format: 'mm-dd-yyyy'
				});
				$('#dp2').fdatepicker({
					closeButton: true
				});
				$('#dp3').fdatepicker();
				$('#dp3').fdatepicker();
				$('#dp-margin').fdatepicker();
				$('#dpMonths').fdatepicker();
				var startDate = new Date(2012, 1, 20);
				var endDate = new Date(2012, 1, 25);
				$('#dp4').fdatepicker()
					.on('changeDate', function (ev) {
					if (ev.date.valueOf() > endDate.valueOf()) {
						$('#alert').show().find('strong').text('The start date can not be greater then the end date');
					} else {
						$('#alert').hide();
						startDate = new Date(ev.date);
						$('#startDate').text($('#dp4').data('date'));
					}
					$('#dp4').fdatepicker('hide');
				});
				$('#dp5').fdatepicker()
					.on('changeDate', function (ev) {
					if (ev.date.valueOf() < startDate.valueOf()) {
						$('#alert').show().find('strong').text('The end date can not be less then the start date');
					} else {
						$('#alert').hide();
						endDate = new Date(ev.date);
						$('#endDate').text($('#dp5').data('date'));
					}
					$('#dp5').fdatepicker('hide');
				});
				// implementation of disabled form fields
				var nowTemp = new Date();
				var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
				var checkin = $('#dpd1').fdatepicker({
					onRender: function (date) {
						return date.valueOf() < now.valueOf() ? 'disabled' : '';
					}
				}).on('changeDate', function (ev) {
					if (ev.date.valueOf() > checkout.date.valueOf()) {
						var newDate = new Date(ev.date)
						newDate.setDate(newDate.getDate() + 1);
						checkout.update(newDate);
					}
					checkin.hide();
					$('#dpd2')[0].focus();
				}).data('datepicker');
				var checkout = $('#dpd2').fdatepicker({
					onRender: function (date) {
						return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
					}
				}).on('changeDate', function (ev) {
					checkout.hide();
				}).data('datepicker');
			});
		</script> 
 FlexSlider  
<script defer src="js/jquery.flexslider.js"></script> 
<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script> 

FREE WALL 
<script type="text/javascript" src="js/freewall.js"></script> 
<script type="text/javascript">
			
			var colour = [
				
			];

			$(".brick").each(function() {
				this.style.backgroundColor =  colour[colour.length * Math.random() << 0];
			});

			$(function() {
				var wall = new freewall("#freewall");
				wall.reset({
					selector: '.brick',
					animate: true,
					cellW: 160,
					cellH: 160,
					onResize: function() {
						wall.fitWidth();
					}
				});
				wall.addCustomEvent('onBlockLoad', function(setting){
					console.log(setting);
				});
				wall.fitWidth();
			});
		</script>
    
       
</body>
</html>-->
