<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title></title>
<link href="css/style.css" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<style type="text/css">
body,td,th {
	font-family: Roboto, sans-serif;
}
</style>
</head>

<body>
<header class="inner_header map_hrader">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      
     
     <div class="row">
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2">
        <ul class="nav navbar-nav">
          <li><i class="fa fa-bars"></i>
                  <div class="sub_menu">
                          <ul>
                              <li><a href="#">Settings</a></li>
                              <li><a href="#">Contacts</a></li>
                              <li><a href="#">Messages</a></li>
                          
                          </ul>
                  </div>
          </li>
         
        </ul></div>
        <div class="logo col-lg-4 col-md-4 col-sm-4 col-xs-8"><a href="#" class="navbar-brand"><img alt="" title="logo" src="images/logo.png"></a></div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2"><ul class="nav navbar-nav navbar-right">
          <li><a href="#">+</a></li>
          
        </ul></div>
      </div>
      
      <!--/.nav-collapse --> 
    </div>
    <!--/.container-fluid --> 
  </div>
</header>
<div class="main">

  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 login_page">
    
    <div class="container login">
    
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left_subscribe" >
    <form>
    
    <div class="choose_picture" >
    <label>Upload a Picture/Logo</label>
    <span class="logo_image"><a href="#"><img src="images/profile.jpg"></a></span>
    
   
    
    </div>
    <div class="choose_picture" ><label>Upload Background Image</label>
    <span class="back_image"><a href="#"><img src="images/back.jpg"></a></span>
   
   
    
    </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control"  placeholder="">
  </div>
  <div class="form-group">
    <label>Address</label>
    <input type="text" class="form-control"  placeholder="">
  </div>
  <div class="form-group">
    <label>ZipCode</label>
    <input type="text" class="form-control"  placeholder="">
  </div>
   <div class="form-group">
    <label>Business Hours</label>
    <div class="days">
    <select class="form-control">
  <option>Monday</option>
  <option>Tuesday</option>
  
</select>
<p>to</p>
 <select class="form-control">
  <option>Monday</option>
  <option>Tuesday</option>
  
</select>
</div>
 <div class="time">
    <select class="form-control">
  <option>AM</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  
</select>
<p>to</p>
 <select class="form-control">
  <option>PM</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  
</select>
</div>
  </div>
  <div class="form-group">
    <label>WebSite</label>
    <input type="text" class="form-control"  placeholder="">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" class="form-control"  placeholder="">
  </div>
  <div class="form-group">
    <label>Describe Your Business</label>
    <textarea></textarea>
  </div>
  <div class="upload_pic">
 <span class="image"><a href="#">Upload Image</a></span>
 <textarea></textarea>
 </div>
 <div class="upload_pic">
 <span class="image"><a href="#">Upload Image</a></span>
 <textarea></textarea>
 </div>
 <div class="upload_pic">
 <span class="image"><a href="#">Upload Image</a></span>
 <textarea></textarea>
 </div>
  

  
</form>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    
    
   
    <form>
    
    
    
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control"  placeholder="">
  </div>
  <div class="form-group">
    <label>CC#</label>
    <input type="text" class="form-control"  placeholder="">
  </div>
  <div class="form-group">
    <label>Exp</label>
    <input type="text" class="form-control"  placeholder="">
  </div>
   
  <div class="form-group">
    <label>Security Cose(4 Digit)</label>
    <input type="text" class="form-control"  placeholder="">
  </div>

  

 
</form>
    <div class="subscribe_package">
 <h4>Subscribe Pacakage</h4>
<ul>
<li><img src="images/box.png"><span><input type="radio" name="radio"></span><h3>2Ads, 3 Menus (10x listings each) Bronze SEO Pack -$50</h3></li>
<li><img src="images/box2.png"><span><input type="radio" name="radio"></span><h3>6Ads, 6 Menus (20x listings each) Silver SEO Pack *Featured on HighlyRecommended* -$300</h3></li>
<li><img src="images/box3.png"><span><input type="radio" name="radio"></span><h3>9Ads, 9 Menus (30x each) Gold SEO Pack + Geofenced Ads *Featured on HighlyRecommended* $1000</h3></li>
</ul>
</div>


</div>
<button type="submit" class="btn btn-default">Save</button>
    </div>

    </div>
    
    
    
 
 
</div>
<footer>
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>Join Us On</h2>
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
      <p>© iNeedTreez, Inc. </p>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="../bootstrap-3.2.0/docs/dist/js/bootstrap.js"></script> 

<!--background--> 

<script type="text/javascript" src="js/jquery.tubular.1.0.js"></script> 
<script type="text/javascript" src="js/index.js"></script> 

<!--calender--> 
<script src="js/foundation-datepicker.js"></script> 
<script>
			$(function () {
				window.prettyPrint && prettyPrint();
				$('#dp1').fdatepicker({
					format: 'mm-dd-yyyy'
				});
				$('#dp2').fdatepicker({
					closeButton: true
				});
				$('#dp3').fdatepicker();
				$('#dp3').fdatepicker();
				$('#dp-margin').fdatepicker();
				$('#dpMonths').fdatepicker();
				var startDate = new Date(2012, 1, 20);
				var endDate = new Date(2012, 1, 25);
				$('#dp4').fdatepicker()
					.on('changeDate', function (ev) {
					if (ev.date.valueOf() > endDate.valueOf()) {
						$('#alert').show().find('strong').text('The start date can not be greater then the end date');
					} else {
						$('#alert').hide();
						startDate = new Date(ev.date);
						$('#startDate').text($('#dp4').data('date'));
					}
					$('#dp4').fdatepicker('hide');
				});
				$('#dp5').fdatepicker()
					.on('changeDate', function (ev) {
					if (ev.date.valueOf() < startDate.valueOf()) {
						$('#alert').show().find('strong').text('The end date can not be less then the start date');
					} else {
						$('#alert').hide();
						endDate = new Date(ev.date);
						$('#endDate').text($('#dp5').data('date'));
					}
					$('#dp5').fdatepicker('hide');
				});
				// implementation of disabled form fields
				var nowTemp = new Date();
				var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
				var checkin = $('#dpd1').fdatepicker({
					onRender: function (date) {
						return date.valueOf() < now.valueOf() ? 'disabled' : '';
					}
				}).on('changeDate', function (ev) {
					if (ev.date.valueOf() > checkout.date.valueOf()) {
						var newDate = new Date(ev.date)
						newDate.setDate(newDate.getDate() + 1);
						checkout.update(newDate);
					}
					checkin.hide();
					$('#dpd2')[0].focus();
				}).data('datepicker');
				var checkout = $('#dpd2').fdatepicker({
					onRender: function (date) {
						return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
					}
				}).on('changeDate', function (ev) {
					checkout.hide();
				}).data('datepicker');
			});
		</script> 
<!-- FlexSlider --> 
<script defer src="js/jquery.flexslider.js"></script> 
<script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script> 

<!--FREE WALL--> 
<script type="text/javascript" src="js/freewall.js"></script> 
<script type="text/javascript">
			
			var colour = [
				
			];

			$(".brick").each(function() {
				this.style.backgroundColor =  colour[colour.length * Math.random() << 0];
			});

			$(function() {
				var wall = new freewall("#freewall");
				wall.reset({
					selector: '.brick',
					animate: true,
					cellW: 160,
					cellH: 160,
					onResize: function() {
						wall.fitWidth();
					}
				});
				wall.addCustomEvent('onBlockLoad', function(setting){
					console.log(setting);
				});
				wall.fitWidth();
			});
		</script>
</body>
</html>
