    
  <div class="media-body">
    <h5 class="media-heading" style="color: #14BED7">
        {{contact.name}}
    </h5>
    <p>{{contact.phone}}
    <i class="fa fa-2x fa-trash-o delete_ad"  ng-click="vm.deleteContact(vm.contacts[$index]._id)" style="cursor: pointer;float:right"></i>
    <i class="fa fa-2x fa-edit edit_ad_click" ng-click="editContact($index)"style="cursor: pointer;float:right;margin-right:10px;" ></i>
    </p>
    
</div>
        <!-- modal for edit menu-->
   <div class="modal" ng-attr-id="{{ 'object-' + $index }}" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Edit Contact</h4>
            </div>
            <div class="modal-body">  
<!-- 
                <div class="alert alert-danger fade in m-b-15"></div>
                <div class="alert alert-success fade in m-b-15"></div> -->

                <div>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-4 form-group">
                                            <label>Contact Name</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" ng-value="vm.contacts[$index].name" ng-model="vm.contacts[$index].name" id="edit_contact_name"/> 
                                        </div>
                                     </div>
                            </div> 
                             <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-4 form-group">
                                            <label>Contact Phone Number</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" ng-value="vm.contacts[$index].phone" ng-model="vm.contacts[$index].phone" id="edit_contact_phone"/>
                                        </div>
                                    </div>
                            </div>
                         
                        </div>

                    </fieldset>
                </div> 

            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                <a href="" class="btn btn-sm btn-success" data-dismiss="modal" ng-click="vm.updateContact(vm.contacts[$index]._id, vm.contacts[$index].name, vm.contacts[$index].phone)">Update</a>
            </div>
        </div>
    </div>
</div> 
<!-- end of edit modal for add ads-->
